.popup {
	border: solid 1px #333;
	font-family: Tahoma;
	font-size: 12px;
	display: none;
	position: absolute;
	width: 300px;
	z-index: 60;
}

.popuptitle { 
	background: blue;
	color: white;
	font-weight: bold;
	height: 15px;
	padding: 5px;
}

.popupbody { 
	background: #ddd;
	padding: 5px;
	text-align: center;
}

#popup1 { 
	top: 200px;
	left: 150px;
}
